/* CSS * Made by Mike */


/* Git: mikecroeze */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
}


/* Dark Mode */

.dark-mode {
    background-color: #121212;
    color: white;
}

.image_dark_mode {
    width: 78px;
    height: 80px;
    margin-right: -500px;
    float: left;
}


/* Nav Bar */

nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2F2FA2;
    font-family: "Poppins", sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}


/*---------------------
  Login / Register
-----------------------*/

#content {
    width: 337px;
    min-height: 385px;
    padding: 0 30px;
}

#content.login {
    background-color: #f2f2f2;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    top: 20%;
}

#content2 {
    width: 337px;
    min-height: 150px;
    padding: 0 30px;
}

#content2.register {
    background-color: #f2f2f2;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    top: 60%;
}

.actions {
    margin-bottom: 1em;
}


/* De inlogpagina */

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #0055DD;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 5;
}

div .inloggen {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    float: left;
    max-width: 400px;
}

div .registreren {
    float: left;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 400px;
}

.loginh1 {
    text-align: center;
    margin: 20px 0px 15px 0px;
}

.loginp {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.registerp {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type=radio],
select {
    display: inline-block;
    padding-left: 1.5em;
    cursor: pointer;
}

.wwvergeten a {
    line-height: inherit;
    padding: 0;
    color: #00f;
    border: 0;
    background: 0 0;
    text-decoration: none;
    margin-top: 15px;
}


/* Icon's Login */

.iconContainer {
    position: relative;
}

.iconContainer i {
    position: absolute;
    line-height: 3.5;
    cursor: pointer;
    text-align: center;
    pointer-events: none;
    color: #828282;
    left: 10px;
}

.iconContainer input {
    padding-left: 40px;
}

.btn {
    position: absolute;
    left: 47.5%;
    top: 57%;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.4;
    text-shadow: 0 0 50px #2F2FA2;
}

.btn:hover {
    background-color: grey;
}

.buttonRegister {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    width: 240px;
}

.buttonRegister:hover {
    background-color: #555555;
    color: white;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


/* Contact */


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 7px;
    resize: vertical;
    margin-top: 10px;
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Dropdown Box */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}